@import './node_modules/bootstrap/scss/bootstrap';

$MAIN_COLOR: #19d170;
$FONT_COLOR: #a3adb6;
$HEAD_COLOR: #283c48;

* {
  font-family: 'Muli', sans-serif;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #FFFFFF;
  color: black;
}

.navbar-logo {
  img {
    height: 50px;
  }
}
.navbar {
  overflow: hidden;
}

.fa-linked {
  font-size: 21px;
  display: inline-block;
  cursor: pointer;
  color: $FONT_COLOR;

  .fa{
    margin-left: 10px;
    transition: all 0.2s linear;
    color: $FONT_COLOR;
  }
  &:hover {
    .fa {
      color: #2E4DA7;

    }
  }
}

.navbar-info {
  font-size: 1rem;
  font-weight: 400;
  color: $FONT_COLOR;
  .linked {
    color: $MAIN_COLOR;
    display: inline-block;
    font-weight: 600;
    border-bottom: 2px solid $MAIN_COLOR;
    transition: all 0.2s linear;
    &:hover {
      text-decoration: none;
      color: darken($MAIN_COLOR, 10%);
      border-bottom: 2px solid darken($MAIN_COLOR, 10%);

    }
  }

}

main {

  body {

  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 200px);
  min-height: 700px;

  .img-holder {
    position: relative;
    height: 10px;
    img {
      width:100%;
      @media ( min-width: 768px){
        position: relative;
        width: 144%;
        margin-top: -15%;
        margin-left: -20%;
        overflow: hidden;
      }
      @media ( min-width: 1600px){
        position: relative;
        width: 146%;
        margin-top: -15%;
        margin-left: -10%;
        overflow: hidden;
      }
    }
  }

  h1 {
    font-size: 2.7rem;
    line-height: 3.2rem;
    font-weight: 400;
    color: $HEAD_COLOR;
    margin: 35px 0;
    .font-weight-bold {
      font-weight: 800;
    }
  }

  h4 {
    font-size: 1.188rem;
    font-weight: 400;
    color: $FONT_COLOR;
    line-height: 1.5rem;
    margin: 0 0 40px;

    .highlighted {
      color : $MAIN_COLOR;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: $FONT_COLOR;
    padding: 0;
    margin: 40px 0 0;
  }
  .subscribe-form {
    width: 80%;
    position: relative;
    input[type=email] {
      background: #f9f9f9;
      border-radius: 35px;
      width: 100%;
      font-size: 1.188rem;
      padding: 20px 35px;
      border: 1px solid #f1f1f1;
      outline: none;
    }
    input[type=submit] {
      cursor: pointer;

      position: absolute;
      right: 0;
      top: 0;
      padding: 20px 55px;
      border-radius: 35px;
      outline: none;
      background: $MAIN_COLOR;
      border: 1px solid $MAIN_COLOR;
      font-size: 1.188rem;
      font-weight: 400;
      color: #FFFFFF;
      box-shadow: 0px 4px 53.1px 5.9px rgba(129, 205, 80, 0.44);
      transition: all 0.2s linear;
      &:hover{
        background: lighten($MAIN_COLOR, 5%);
        border: 1px solid lighten($MAIN_COLOR, 5%);
        box-shadow: 0px 4px 53.1px 5.9px rgba(129, 205, 80, 0.7);

      }
    }
  }

}

footer {
  font-size: 12px;
  color : $FONT_COLOR;
}

#mc_embed_signup div.mce_inline_error {
  margin: 0 0 1em 0 !important;
  padding: 10px 35px  !important;;
  background-color: transparent  !important;;
  z-index: 1  !important;;
  color: #6B0505  !important;;
  font-size: 19px  !important;;
  font-weight: 400  !important;;
}

#mc_embed_signup div#mce-success-response {
  padding: 10px 35px !important;
  font-size: 19px !important;;
  color: $MAIN_COLOR !important;;
}


.container {
  @media ( min-width: 1600px) {
      width: 1480px;
  }
}

@media (max-width: 500px) {

  .border-md-to-bottom {
    margin: 0 -30px !important;
    font-size: 12px !important;

  }
  main {
    height: auto;
    min-height: 0;

    h1 {
      font-size: 27px;
      line-height: 32px;
    }

    h4 {
      font-size: 15px;
      line-height: 20px;
    }
    .img-holder {

    }
  }
}

@media ( max-width: 769px) {

  .border-md-to-bottom {
    margin: 0 -130px;
    border-bottom: 1px solid lighten($FONT_COLOR, 20%);
    font-size: 14px;
    padding: 0 15px;
  }

  .fa-linked {
    .fa {
      font-size: 30px;
    }
  }

  main {
    height: auto;
    min-height: 0;

    .img-holder {
      position: fixed;
      z-index: -1;
      width: 120%;
      bottom: 0;
      margin-bottom: 60%;
      right: 0;
      margin-right: -44%;
    }

    p {
      font-size: 15px;
    }


    .subscribe-form {
      width: 100%;

      input[type=submit] {
        position: static;
        margin: 40px auto 20px;
        width: 100%;
        max-width:400px;
        display:block;
      }
    }


  }
}

#fb { text-align: right }